.site-footer {
    margin: 0;
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    height: 120px;
    background-color: $darkgray2;
    padding: 47px 85px;
    
    &__link {
        margin: 0;
        padding-left: 33px;
        text-decoration: none;
        @include text ('Barlow', normal, 700, 12px, 15px, #83888F)
    }

    &__left {
        display: flex;
    }

    &__menu {
        margin-left: 102px;
        display: flex;
        align-items: center;
    }

    &__icon {
        padding-left: 24px;
    }

    &__icon:first-child {
        padding-left: 0;
    }

    &__iconimg {
        color: #ffffff;
    }

    &__iconimg:hover {
        color: #FDD6BA;
    }
}

@media only screen and ( max-width:800px ) {
    .site-footer {
        display: flex;
        flex-direction: column;
        width: 688px;
        height: 270px;
        background-color: $darkgray2;
        padding: 54px 180px 54px 205px;

        &__logo {
            margin: 0 auto;
        }

        &__left {
            display: flex;
            flex-direction: column;
        }

        &__link {
            margin-top: 32px;
            padding-right: 5px;
            display: flex;
        }

        &__menu {
            margin-left: 0;
            padding-left: 0;
            text-align: center;
            display: flex;
        }


        &__right {
            margin: 0 auto;
        }
    }   
}

@media only screen and (max-width:400px) {
    .site-footer{
        margin-top: 500px;
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 346px;
        background-color: $darkgray2;
        padding: 54px;

        &__menu {
            display: flex;
            flex-direction: column;
        }

        &__link {
            margin-top: 32px;
            padding: 0;
            display: flex;
        }
    }
}